{extend name="public_student/default" /}

{block name="title"}
<title>选课系统-学生</title>
</head>
<body>
    
    
<style type="text/css" media="all">
    .title{
        text-align: center;
        color: {$config_color}; 
        font-size: 25px;
        font-weight: 600;
    }
    .Hui-article{
        background: #F2F2F2;
    }
    .manage{
        background: #fff;
        box-shadow:0 0 10px rgba(0,0,0,0.16);
    }
    .dowebok{
        text-align: center;
        margin: 120px auto;
    }
    .dataTables_wrapper .dataTables_filter {
        display: none;    
    }
    .flipTimer .digit > div.digit-top, .flipTimer .digit > div.shadow-top {
        background-color: {$config_color};
        border-bottom: 1px solid {$config_color};
    }
    .flipTimer .digit > div.digit-bottom, .flipTimer .digit > div.shadow-bottom {
          background-color: {$config_color};
    }
    
    /*未开放选课*/
    .nocourse{
        width: 100%;
        height: 100%;
    }
    .nocourse img{
        width: 100%;
        height: 100%;
    }
    .Huialert {
        height: 33px;
        line-height: 34px;
    }
    .bg{
        color: #fff;
        background-color: #5EB95E;
        border-color: #5EB95E;
        margin-bottom: -20px;
        margin-top: 15px;
        padding: 4px 15px;
    }
</style>
{/block}

{block name="content"}
<section class="Hui-article-box">
	<nav class="breadcrumb">
	    <i class="Hui-iconfont switch-icon">&#xe70f;</i> 
	    <i class="Hui-iconfont"></i> <a href="{:url('index/index/index')}" class="maincolor">首页</a> 
		<span class="c-999 en">&gt;</span>
		<span class="c-666">我的课程</span>  
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px;background-color: {$config_color};" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont" >&#xe68f;</i></a>
	</nav>
	
	<div class="Hui-article">
	<article class="cl pd-20 manage hui-bounceinB">
	    
	   	    <!--课程信息表格-->
	    	<div class="Huialert Huialert-error bg"><i class="Hui-iconfont"></i>课程信息表格</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" disabled name="" value=""></th>
							<th width="">ID</th>
							<th width="">课程名称</th>
							<th width="">授课教师</th>
							<th width="">课程详情</th>
							<th width="">课程学分</th>
							<th width="">教课方式</th>
							<th width="">上课地点</th>
							
						</tr>
					</thead>
					<tbody>
					   {if condition="$course neq null"}
    						<tr class="text-c">
    							<td><input type="checkbox" class="checked_delete" uniqueId="{$course['cid']}" name=""></td>
    							<td>{$course['cid']}</td>
    							<td>{$course['cname']}</td>
    							<td>{$course['teacher']['name']}</td>
    							<td>{$course['detail']}</td>
    							<td>{$course['score']}</td>
    							<td>{if condition="$course['type'] eq 0"}线下{else/}线上{/if}</td>
                                <td>{$course['place']}</td>   
    						</tr>
    					 {/if}
						
					</tbody>
				</table>
			</div>
	   
	        <!--教师信息表格-->
	        <div class="Huialert Huialert-error bg" style="margin-top:40px;"><i class="Hui-iconfont"></i>教师信息表格</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" disabled name="" value=""></th>
							<th width="">ID</th>
							<th width="">姓名</th>
							<th width="">工号</th>
							<th width="">性别</th>
							<th width="">职称</th>
							<th width="">邮箱</th>
							<th width="">手机</th>
						</tr>
					</thead>
					<tbody>
					    {if condition="$teacher neq null"}
    						<tr class="text-c">
    							<td><input type="checkbox" class="checked_delete" uniqueId="{$teacher['id']}" name=""></td>
    							<td>{$teacher['id']}</td>
    							<td>{$teacher['name']}</td>
    							<td>{$teacher['account']}</td>
    							<td>{if condition="$teacher['sex'] eq 0"}女{else/}男{/if}</td>
    							<td>{$teacher['position'] | default="无"}</td>
    							<td>{$teacher['email'] | default="无"}</td>
    							<td>{$teacher['phone'] | default="无"}</td>
    						</tr>
    					 {/if}
						
					</tbody>
				</table>
			</div>
			
			
		
            
    </article>

</div>
</section>
{/block}

{block name="script"}
<script type="text/javascript">

$(function(){
// 	$('.table-sort').dataTable({
// 		"aaSorting": [[ 1, "asc" ]],//默认第几个排序
// 		"bStateSave": true,//状态保存
// 		"aoColumnDefs": [
// 		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
// 		  {"orderable":false,"aTargets":[0,2,3,4,5,6,7,8,9]}// 制定列不参与排序
// 		]
// 	});
// 	$('.table-sort tbody').on( 'click', 'tr', function () {
// 		if ( $(this).hasClass('selected') ) {
// 			$(this).removeClass('selected');
// 		}
// 		else {
// 			$('tr.selected').removeClass('selected');
// 			$(this).addClass('selected');
// 		}
// 	});
	
	
    // 	提交选课
    $(document).on('click touchend','#chooseCourse',function(){
        
        let cid = $(this).attr('uniqueId');
        // 选择课程
        $.ajax({
            url:url.selectCourseCount,
            type:'post',
            data:{cid},
            dataType:'json',
            success:res=>{
                console.log(res)
                if(res.status == 1){
                    layer_success(res.info)
                    setTimeout(function() {location.reload()}, 800);
                }else{
                    layer_shake(res.info)
                }
            }
        });
    
    })
	
});
		
</script>
{/block}