{extend name="public_teacher/default" /}

{block name="title"}
<title>选课系统-教师</title>
</head>
<body>
    
    <style type="text/css" media="all">
    
        /*去除浏览器默认样式*/
        ::-webkit-scrollbar {
            width: 0;
            height: 0;
            color: transparent;
         }
        .Hui-article{
            background: #F2F2F2;
        }
        
        /*--编辑密码表单--*/
        .baseInfoForm{
            width: 80%;
            /*height: 300px;*/
            padding: 60px;
            background: #fff;
            margin: 50px auto;
            box-shadow:0 0 10px rgba(0,0,0,0.16);
        }
        .icheckbox-blue, .iradio-blue{
            margin: -1px 0;
        }
    </style>
{/block}

{block name="content"}
<section class="Hui-article-box">
	<nav class="breadcrumb">
	    <i class="Hui-iconfont switch-icon">&#xe70f;</i> 
	    <i class="Hui-iconfont"></i> <a href="{:url('index/index/index')}" class="maincolor">首页</a> 
		<span class="c-999 en">&gt;</span>
		<span class="c-666">修改个人密码</span>  
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px;background-color: {$config_color};" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont" >&#xe68f;</i></a>
		</nav>
		
	<div class="Hui-article">
    	<article class="cl pd-20">
    			
    			<!--编辑密码表单-->
    			<div class="baseInfoForm hui-bounceinB">
        			<form  class="form form-horizontal" id="form-baseinfo-edit" >
                		<div class="row cl">
                			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>原密码：</label>
                			<div class="formControls col-xs-8 col-sm-9">
                				<input type="password" class="input-text" value="" placeholder="请输入原密码" id="oldpw"  name="oldPassword">
                			</div>
                		</div>
                		<div class="row cl">
                			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
                			<div class="formControls col-xs-8 col-sm-9">
                				<input type="password" class="input-text" value="" placeholder="请输入新密码" id="newpw"  name="newPassword">
                			</div>
                		</div>
                		<div class="row cl">
                			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
                			<div class="formControls col-xs-8 col-sm-9">
                				<input type="password" class="input-text" value="" placeholder="请确认密码" id="repw"  name="rePassword">
                			</div>
                		</div>
                		<div class="row cl">
                			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                				<input class="btn btn-primary radius" id="backBaseInfo" type="button" value="&nbsp;&nbsp;取消&nbsp;&nbsp;">
                				<input class="btn btn-primary radius" id="submitBaseInfoFrom" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                			</div>
                		</div>
                	</form>
    			</div>
        </article>
    
    <!--<footer class="footer">-->
    <!--</footer>-->
    </div>
</section>
{/block}

{block name="script"}
<script type="text/javascript">

    
$(function(){
	
    
    // 取消编辑
    $('#backBaseInfo').click(function(){
        history.back()
        // $('.baseInfoForm').addClass('hui-bounceoutT').hide()
        // $('.personalInformation').removeClass('hui-bounceoutT').addClass('hui-bounceinB').show()
    })
    
    // 提交编辑基本信息表单
    $('#submitBaseInfoFrom').click(function(){
        let oldpw = $('#oldpw').val().trim()
        let newpw = $('#newpw').val().trim()
        let repw = $('#repw').val().trim()
        
        let pw_reg = /^1[3|4|5|7|8]\d{9}$/
        
        if(oldpw.length==0 || newpw.length ==0 || repw.length == 0){
            layer_shake('请检查表单信息是否填写完整')
            return false
        }
        if(newpw != repw){
			layer_shake('两次输入密码不一致');
			return false;
		}
        
        
        $.ajax({
            url:url.updatePassword,
            type:'post',
            data:{
                oldpw,newpw
            },
            dataType:'json',
            success:res=>{
                console.log(res)
                if(res.status == 1){
                    layer_success(res.info)
                    setTimeout(function() {location.reload()}, 800);
                }else{
                    layer_shake(res.info)
                }
            }
        });
    })
});

    
		
</script>
{/block}