
{load href="__PUBLIC__/plugins/h-ui-admin/lib/jquery/1.9.1/jquery.min.js" /} 
{load href="__PUBLIC__/plugins/h-ui-admin/lib/layer/2.4/layer.js" /}
{load href="__PUBLIC__/plugins/h-ui-admin/static/h-ui/js/H-ui.js" /} 
{load href="__PUBLIC__/plugins/h-ui-admin/static/h-ui.admin/js/H-ui.admin.page.js" /} 
{load href="__PUBLIC__/plugins/h-ui-admin/lib/datatables/1.10.15/jquery.dataTables.min.js"}


{load href="__PUBLIC__/plugins/layui-v2.5.7/layui.js" }
{load href="__PUBLIC__/common/js/common.js"}

{load href="__PUBLIC__/plugins/nprogress/nprogress.js" /}

<!--pc时钟-->
{load href="__PUBLIC__/js/jquery.fliptimer.js" /}
