{extend name="public/default" /}

{block name="title"}
<title>选课系统-管理员</title>
</head>
<body>
    
    
<style type="text/css" media="all">
    .Hui-article{
            background: #F2F2F2;
        }
        .manage{
            background: #fff;
            box-shadow:0 0 10px rgba(0,0,0,0.16);
        }
        .search{
            width: 250px;
            /*min-width: 100px;*/
        }
        .dataTables_wrapper .dataTables_filter {
            display: none;    
        }
        
        .check-box, .radio-box {
             padding-left: 0 ;
        }
        .enableEdit{
            cursor: pointer;
        }
        
        /*号码验证*/
        .phone_check{
            margin: 0 5px;
            color: blue;
            cursor: pointer;
        }
        .not{
            cursor: not-allowed;
        }
        .modal{
            top:20%;
        }
        .modal-dialog {
            width: 550px !important;
        }
        .checked{
            width: 100%;
            height: 40px;
            line-height: 40px;
            margin: 5px auto;
            /*background: red;*/
            display: flex;
        }
        .checked .checked_label{
            flex: 1;
            color: rgba(0,0,0,.4);
        }
        .checked .checked_value{
            flex: 5;
        }
        /*.input-text, .textarea{*/
        /*    width: auto;*/
        /*}*/
        .input-text[type="number"] {
            width: 150px;
        }
        
        /*去除input[number] 默认样式*/
        ::-webkit-inner-spin-button {
           -webkit-appearance: none;
        }
        .input-text[type="number"] {
            width: 100%;
        }
</style>
{/block}

{block name="content"}
<section class="Hui-article-box">
	<nav class="breadcrumb">
	    <i class="Hui-iconfont switch-icon">&#xe70f;</i> 
	    <i class="Hui-iconfont"></i> <a href="{:url('index/index/index')}" class="maincolor">首页</a> 
		<span class="c-999 en">&gt;</span>
		<span class="c-666">课程管理</span>
		<span class="c-999 en">&gt;</span>
		<span class="c-666">专业管理</span> 
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px;background-color: {$config_color};" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont" >&#xe68f;</i></a></nav>
	<div class="Hui-article" style="display:{$isPower?'':'none'}">
	    
	    <!--专业信息-->
		<article class="cl pd-20 manage hui-bounceinB" id="showManagers">
			<div class="cl pd-5 bg-1 bk-gray mt-20 hidden-xs"> 
			    <span class="r ">
                    <input type="text" class="input-text search" placeholder="专业名称"  name="">
				    <button type="submit" class="btn btn-success radius searchMajor" ><i class="Hui-iconfont">&#xe665;</i> 搜专业</button>			        
			    </span>
			    <!--<span class="r">共有数据：<strong>88</strong> 条</span> -->
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20 visible-xs"> 
			    <span class="l">
                    <input type="text" class="input-text search" style="width:200px" placeholder="专业名称"  name="">
				    <button type="submit" class="btn btn-success radius searchMajor"  name=""><i class="Hui-iconfont">&#xe665;</i> 搜专业</button>			        
			    </span>
			</div>
			
			<!--用户信息表格-->
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" disabled name="" value=""></th>
							<th width="">ID</th>
							<th width="">专业名称</th>
							<th width="">操作</th>
						</tr>
					</thead>
					<tbody>
					    
					    {volist name="majors" id="vo"}
    						<tr class="text-c">
    							<td><input type="checkbox" class="checked_delete" uniqueId="{$vo.id}" name=""></td>
    							<td>{$vo.id}</td>
    							<td>{$vo.name}</td>
    							<td class="td-manage"> 
        							<a title="详情" href="javascript:;" id="selectMajorMore" uniqueId="{$vo.id}" class="ml-5" style="text-decoration:none;font-size:20px;"><i class="Hui-iconfont">&#xe6c6;</i></a>
        						</td>
    						</tr>
						{/volist}
						
					</tbody>
				</table>
			</div>
    </article>
    
    
		
		
</div>

    <!--无权查看显示-->
	<div class="nopower" style="display:{$isPower?'none':''}">
	    <img  src="__PUBLIC__/img/noPower.jpg" alt="" />
	</div>
</section>
{/block}

{block name="script"}
<script type="text/javascript">

$(function(){
    $('.table-sort').dataTable({
		"aaSorting": [[ 1, "asc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"autoWidth": true,
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,2,3]}// 制定列不参与排序
		]
	});
	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
	
	
	$(document).on('click touchend','#selectMajorMore',function(){
	    layer_success('查看更多详情请到官网')
	})
	
	$('.searchMajor').on('click touchend',function(){
	    let value = $(this).parent().find('.search').val().trim()
        
        $.ajax({
			url:"{:url('Index/searchMajor')}",
			data:{value},
			type:"post",
			dataType:"json",
			success:function(res){
			    console.log(res)
				if(res.status==1){
					layer_success(res.info);
					
					let html ='';
					let r = res.data
					r.forEach(item =>{
					    html +=`
					        <tr class="text-c">
    							<td><input type="checkbox" value="1" name=""></td>
    							<td>${item.id}</td>
    							<td>${item.name}</td>
    							<td class="td-manage"> 
        							<a title="详情" href="javascript:;" id="selectMajorMore" uniqueId="{$vo.id}" class="ml-5" style="text-decoration:none;font-size:20px;"><i class="Hui-iconfont">&#xe6c6;</i></a>
        						</td>
    						</tr>
					    `    
					})
				    $('tbody').html(html)
				    
				}else{
					layer_noChange(res.info);
					$('tbody').html('')
				}
			}
		});
    })
    
    
});
		
</script>
{/block}