{extend name="public/default" /}

{block name="title"}
<title>选课系统-管理员</title>
</head>
<body>
    
    <style type="text/css" media="all">
    
        .Hui-article{
            background: #F2F2F2;
        }
        .manage{
            background: #fff;
            box-shadow:0 0 10px rgba(0,0,0,0.16);
        }
        .search{
            width: 250px;
            /*min-width: 100px;*/
        }
        .dataTables_wrapper .dataTables_filter {
            display: none;    
        }
        
        .check-box, .radio-box {
             padding-left: 0 ;
        }
        .enableEdit{
            cursor: pointer;
        }
        
        /*号码验证*/
        .phone_check{
            margin: 0 5px;
            color: blue;
            cursor: pointer;
        }
        .not{
            cursor: not-allowed;
        }
        
        /*弹出框*/
        .modal{
            top:20%;
        }
        .modal-dialog {
            width: 550px !important;
        }
        .checked{
            width: 100%;
            height: 40px;
            line-height: 40px;
            margin: 5px auto;
            /*background: red;*/
            display: flex;
        }
        .checked .checked_label{
            flex: 1;
            color: rgba(0,0,0,.4);
        }
        .checked .checked_value{
            flex: 5;
        }
        /*.input-text, .textarea{*/
        /*    width: auto;*/
        /*}*/
        .input-text[type="number"] {
            width: 150px;
        }
        
        /*去除input[number] 默认样式*/
        ::-webkit-inner-spin-button {
           -webkit-appearance: none;
        }
        
    </style>
{/block}

{block name="content"}
<section class="Hui-article-box">
	<nav class="breadcrumb">
	    <i class="Hui-iconfont switch-icon">&#xe70f;</i> 
	    <i class="Hui-iconfont"></i> <a href="{:url('index/index/index')}" class="maincolor">首页</a> 
		<span class="c-999 en">&gt;</span>
		<span class="c-666">用户管理</span>  
		<span class="c-999 en">&gt;</span>
		<span class="c-666">超级用户管理</span> 
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px;background-color: {$config_color};" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont" >&#xe68f;</i></a>
	</nav>
	
	<div class="Hui-article" style="display:{$isPower?'':'none'}">
	     
		<article class="cl pd-20 manage hui-bounceinB" id="showManagers">
			<div class="cl pd-5 bg-1 bk-gray mt-20"> 
			    <span class="l">
			        <a href="javascript:;" class="btn btn-danger radius" id="deleteMuch" ><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
			        <a href="javascript:;" class="btn btn-primary radius" id="addManager"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a>
			    </span> 
			    <span class="r hidden-xs">
                    <input type="text" class="input-text search" placeholder="姓名、账号、电话、邮箱"  name="">
				    <button type="submit" class="btn btn-success radius searchManagerUser" ><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>			        
			    </span>
			    <!--<span class="r">共有数据：<strong>88</strong> 条</span> -->
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20 visible-xs"> 
			    <span class="l">
                    <input type="text" class="input-text search" style="width:200px" placeholder="姓名、账号、电话、邮箱"  name="">
				    <button type="submit" class="btn btn-success radius searchManagerUser"  name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>			        
			    </span>
			</div>
			
			<!--用户信息表格-->
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" disabled name="" value=""></th>
							<th width="">ID</th>
							<th width="">姓名</th>
							<th width="">账号</th>
							<th width="">性别</th>
							<th width="">手机</th>
							<th width="">邮箱</th>
							<th width="">角色</th>
							<th width="">手机验证</th>
							<th width="">状态</th>
							<th width="">操作</th>
						</tr>
					</thead>
					<tbody>
					    
					    {volist name="managers" id="vo"}
    						<tr class="text-c">
    							<td><input type="checkbox" class="checked_delete" uniqueId="{$vo.id}" name=""></td>
    							<td>{$vo.id}</td>
    							<td>{$vo.name}</td>
    							<td>{$vo.account}</td>
    							<td>{if condition="$vo.sex eq 0"}女{else/}男{/if}</td>
    							<td>{$vo.phone | default="无"}</td>
    							<td>{$vo.email | default="无"}</td>
    							<td>{$vo.role_name}</td>
    							<td class="enableEdit editPhoneCheck" uniqueId="{$vo.id}" phone="{$vo.phone}">{if condition="$vo.phone_check eq 0"}<span class="label label-defaunt radius">未验证</span>{else/}<span class="label label-success radius">已验证</span>{/if}</td>
    							<td class="enableEdit editManagerStatus" uniqueId="{$vo.id}" status="{$vo.status}">{if condition="$vo.status eq 0"}<span class="label label-danger radius">禁用</span>{else/}<span class="label label-success radius">启用</span>{/if}</td>
    							<td class="td-manage"> 
        							<a title="编辑" href="javascript:;" id="editManager" account="{$vo.account}" uniqueId="{$vo.id}" class="ml-5" style="text-decoration:none;font-size:20px;"><i class="Hui-iconfont">&#xe6df;</i></a>
        							<a title="修改密码" class="ml-5" id="modifyManagerPw" account="{$vo.account}" uniqueId="{$vo.id}" href="javascript:;" ><i class="Hui-iconfont" style="text-decoration:none;font-size:20px;">&#xe63f;</i></a> 
        							<a title="删除" href="javascript:;" id="deleteManager" uniqueId="{$vo.id}" class="ml-5" style="text-decoration:none;font-size:20px;"><i class="Hui-iconfont">&#xe6e2;</i></a>
        						</td>
    						</tr>
						{/volist}
						
					</tbody>
				</table>
			</div>
			
		</article>
		
		<!--添加用户信息表单-->
		<article class="cl pd-20 manage hui-bounceinB" id="addManagerFrom" style="display:none">
		    <div class="Huialert Huialert-success" style="text-align: center;margin: 20px auto;line-height: 30px;"><i class="Hui-iconfont" >&#xe6a6;</i>提示 ： 1、姓名、登录账号、密码为必填项。2、登录账号不能与已存在的帐号重复。 3、其他为选填项！</div>
			<form  class="form form-horizontal" id="form-manager-add" >
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>真实姓名：</label>
        			<div class="formControls col-xs-8 col-sm-9">
        				<input type="text" class="input-text" value="" placeholder="请输入真实姓名" id="name"  name="name">
        			</div>
        		</div>
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>登录账号：</label>
        			<div class="formControls col-xs-8 col-sm-9">
        				<input type="text" class="input-text" value="" autocomplete="off"  placeholder="请输入登录账号" id="account"  name="account">
        			</div>
        		</div>
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>登录密码：</label>
        			<div class="formControls col-xs-8 col-sm-9">
        				<input type="password" class="input-text" value=""  placeholder="请输入登录密码" id="password"  name="password">
        			</div>
        		</div>
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3">禁用状态：</label>
        			<div class="formControls col-xs-8 col-sm-9">
        				<div class="switch" id="status_switch" data-on-label="开启" data-off-label="禁用">
                             <input type="checkbox" id="status" value="0" name="status"/>
                        </div>
        			</div>
        		</div>
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3">角色：</label>
        			<div class="formControls col-xs-8 col-sm-9  skin-minimal">
        			    {volist name="roles" id="vo"}
        				<div class="radio-box">
        					<input  type="radio" id="role-{$vo.rid}" value="{$vo.rid}"  name="role" {if condition='$vo.rid eq 1'}checked{/if}>
        					<label for="role-{$vo.rid}">{$vo.role_name}</label>
        				</div>
        				{/volist}
        			</div>
        		</div>
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3">性别：</label>
        			<div class="formControls col-xs-8 col-sm-9  skin-minimal">
        				<div class="radio-box">
        					<input  type="radio" id="sex-1" value="1"  name="sex" checked>
        					<label for="sex-1">男</label>
        				</div>
        				<div class="radio-box">
        					<input type="radio" id="sex-2" value="0" name="sex" >
        					<label for="sex-2">女</label>
        				</div>
        			</div>
        		</div>
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3">手机验证：</label>
        			<div class="formControls col-xs-8 col-sm-9">
        				<div class="switch" data-on-label="开启" data-off-label="未验证">
                             <input type="checkbox" disabled id="phone_check" value="0"  name="phone_check"/>
                        </div>
        			</div>
        		</div>
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3">联系方式：</label>
        			<div class="formControls col-xs-8 col-sm-9">
        				<input type="text" class="input-text" value="" placeholder="请输入正确有效手机号" id="phone" name="phone">
        			</div>
        		</div>
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3">联系邮箱：</label>
        			<div class="formControls col-xs-8 col-sm-9">
        				<input type="text" class="input-text" value="" placeholder="请输入正确有效邮箱地址" name="email" id="email">
        			</div>
        		</div>
        		<div class="row cl">
        			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
        				<input class="btn btn-primary radius" id="backManagerInfo" type="button" value="&nbsp;&nbsp;取消&nbsp;&nbsp;">
        				<input class="btn btn-primary radius" id="submitManagerAddFrom" type="button" value="&nbsp;&nbsp;添加&nbsp;&nbsp;">
        			</div>
        		</div>
        	</form>
		</article>
		
		<!--编辑用户信息表单-->
		<article class="cl pd-20 manage hui-bounceinB" id="editManagerFrom" style="display:none">
		    <div class="Huialert Huialert-success" style="text-align: center;margin: 20px auto;line-height: 30px;"><i class="Hui-iconfont" >&#xe6a6;</i>提示 ： 1、姓名、登录账号为必填项。2、登录账号不能与已存在的帐号重复。 3、其他为选填项！</div>
			<form  class="form form-horizontal" id="form-manager-edit" >
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>真实姓名：</label>
        			<div class="formControls col-xs-8 col-sm-9">
        				<input type="text" class="input-text" value="" placeholder="请输入真实姓名" id="name_edit"  name="name">
        			</div>
        		</div>
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>登录账号：</label>
        			<div class="formControls col-xs-8 col-sm-9">
        				<input type="text" class="input-text" value=""  placeholder="请输入登录账号" id="account_edit"  name="account">
        			</div>
        		</div>
        		<!--<div class="row cl">-->
        		<!--	<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>禁用状态：</label>-->
        		<!--	<div class="formControls col-xs-8 col-sm-9">-->
        		<!--		<div class="switch" id="status_switch" data-on-label="开启" data-off-label="禁用">-->
          <!--                   <input type="checkbox" id="status_edit" name="status"/>-->
          <!--              </div>-->
        		<!--	</div>-->
        		<!--</div>-->
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3">角色：</label>
        			<div class="formControls col-xs-8 col-sm-9  skin-minimal">
        				{volist name="roles" id="vo"}
        				<div class="radio-box">
        					<input  type="radio" id="role-edit-{$vo.rid}" value="{$vo.rid}"  name="role">
        					<label for="role-edit-{$vo.rid}">{$vo.role_name}</label>
        				</div>
        				{/volist}
        			</div>
        		</div>
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3">性别：</label>
        			<div class="formControls col-xs-8 col-sm-9  skin-minimal">
        				<div class="radio-box">
        					<input  type="radio" id="sex-1-edit" value="1"  name="sex" checked>
        					<label for="sex-1">男</label>
        				</div>
        				<div class="radio-box">
        					<input type="radio" id="sex-2-edit" value="0" name="sex" >
        					<label for="sex-2">女</label>
        				</div>
        			</div>
        		</div>
        		<!--<div class="row cl">-->
        		<!--	<label class="form-label col-xs-4 col-sm-3">手机验证：</label>-->
        		<!--	<div class="formControls col-xs-8 col-sm-9">-->
        		<!--		<div class="switch" data-on-label="验证" data-off-label="未验证">-->
          <!--                   <input type="checkbox" disabled id="phone_check_edit"   name="phone_check"/>-->
          <!--              </div>-->
        		<!--	</div>-->
        		<!--</div>-->
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3">联系方式：</label>
        			<div class="formControls col-xs-8 col-sm-9">
        				<input type="text" class="input-text" value="" placeholder="请输入正确有效手机号" id="phone_edit" name="phone">
        			</div>
        		</div>
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3">联系邮箱：</label>
        			<div class="formControls col-xs-8 col-sm-9">
        				<input type="text" class="input-text" value="" placeholder="请输入正确有效邮箱地址" name="email" id="email_edit">
        			</div>
        		</div>
        		<div class="row cl">
        			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
        				<input class="btn btn-primary radius" id="backManagerInfo_edit" type="button" value="&nbsp;&nbsp;取消&nbsp;&nbsp;">
        				<input class="btn btn-primary radius"  id="submitManagerEditFrom" type="button" value="&nbsp;&nbsp;修改&nbsp;&nbsp;">
        			</div>
        		</div>
        	</form>
		</article>
		
		<!--修改用户密码表单-->
		<article class="cl pd-20 manage hui-bounceinB" id="modifyManagerPwFrom" style="display:none;padding: 150px 20px;">
			<form  class="form form-horizontal" id="form-manager-modify" >
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
        			<div class="formControls col-xs-8 col-sm-9">
        				<input type="password" class="input-text" value="" placeholder="请输入新密码" id="password_modify"  name="password">
        			</div>
        		</div>
        		<div class="row cl">
        			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
        			<div class="formControls col-xs-8 col-sm-9">
        				<input type="password" class="input-text" value=""  placeholder="请确认密码" id="repassword_modify"  name="repassword">
        			</div>
        		</div>
        		<div class="row cl">
        			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
        				<input class="btn btn-primary radius" id="backManagerInfo_modify" type="button" value="&nbsp;&nbsp;取消&nbsp;&nbsp;">
        				<input class="btn btn-primary radius"  id="submitManagerModifyFrom" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
        			</div>
        		</div>
        	</form>
		</article>
		
		<!--手机号码验证-->
		<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        	<div class="modal-dialog">
        		<div class="modal-content radius">
        			<div class="modal-header">
        				<h3 class="modal-title">身份验证</h3>
        				<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
        			</div>
        			<div class="modal-body">
        				<div class="Huialert Huialert-danger">为了您的账号安全，进行敏感操作前须先验证身份</div>
        				<div class="checked">
        				    <div class="checked_label">
        				        验证方式
        				    </div>
        				    <div class="checked_value">
        				        手机验证
        				    </div>
        				</div>
        				<div class="checked">
        				    <div class="checked_label">
        				        安全手机
        				    </div>
        				    <div class="checked_value" id="checked_value">
        				        
        				    </div>
        				</div>
        				<div class="checked">
        				    <div class="checked_label">
        				        短信验证码
        				    </div>
        				    <div class="checked_value">
        				        <input type="number" placeholder="4位数字验证码" class="input-text" id="codeInput">
        				        <input class="btn btn-primary radius" type="button" id="sendCode" phone="" value="发送验证码">
        				    </div>
        				</div>
        				
        			</div>
        			<div class="modal-footer">
        				<button class="btn btn-primary disabled"  id="submitCode">确定</button>
        				<button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        			</div>
        		</div>
        	</div>
        </div>
        
        
        <!-- 管理员密码身份验证-->
		<div id="modal-demo1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        	<div class="modal-dialog">
        		<div class="modal-content radius">
        			<div class="modal-header">
        				<h3 class="modal-title">身份验证</h3>
        				<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
        			</div>
        			<div class="modal-body">
        				<div class="Huialert Huialert-danger">为了您的账号安全，进行敏感操作前须先验证身份</div>
        				
        				
        				<div class="checked">
        				    <div class="checked_label">
        				        密码验证
        				    </div>
        				    <div class="checked_value">
        				        <input type="password" placeholder="请输入管理员登录密码" class="input-text" id="managerPw">
        				    </div>
        				</div>
        				
        			</div>
        			<div class="modal-footer">
        				<button class="btn btn-primary"  id="submitManagePw">确定</button>
        				<button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        			</div>
        		</div>
        	</div>
        </div>
        
	</div>
	
	<!--无权查看显示-->
	<div class="nopower" style="display:{$isPower?'none':''}">
	    <img  src="__PUBLIC__/img/noPower.jpg" alt="" />
	</div>
</section>

{/block}

{block name="script"}

<script type="text/javascript">

$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "asc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,2,3,4,5,6,7,8,9,10]}// 制定列不参与排序
		]
	});
	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
	
	/*用户-添加*/
	$('#addManager').click(function(){
	     $('#showManagers').addClass('hui-bounceoutT').hide()
         $('#addManagerFrom').removeClass('hui-bounceoutT').addClass('hui-bounceinB').show()
	})
	
    // 取消添加管理员
    $('#backManagerInfo').click(function(){
        location.reload()
    })
    
    // 用户状态
    $('#status_switch').on('switch-change', function (e, data) {
        //   console.log(data.value);
          if(data.value) $('#status').val('1')
          else $('#status').val('0')
    });
        
    // 提交用户信息
    $('#submitManagerAddFrom').click(function(){
        
        
        let name = $('#name').val().trim()
        let account = $('#account').val().trim()
        let password = $('#password').val().trim()
        
        let phone = $('#phone').val().trim()
        let email = $('#email').val().trim()
        
        let phone_reg = /^1[3|4|5|7|8]\d{9}$/
        let email_reg = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
        
        if(name.length==0 || account.length ==0 || password.length == 0){
            layer_shake('请检查表单信息是否填写完整')
            return false
        }
        if(phone.length!=0 && !phone_reg.test(phone)){
			layer_shake('请输入正确有效手机号');
			return false;
		}
		if(email.length!=0 && !email_reg.test(email)){
			layer_shake('请输入正确有效邮箱地址');
			return false;
		}
        
        $.ajax({
            url:url.superUserManagerAdd,
            type:'post',
            data:$('#form-manager-add').serialize(),
            dataType:'json',
            success:res=>{
                console.log(res)
                if(res.status == 1){
                    layer_success(res.info)
                    setTimeout(function() {location.reload()}, 800);
                }else{
                    layer_noChange(res.info)
                }
            }
        });
    })
    
    // 删除用户信息
    $(document).on('click touchend','#deleteManager',function(){
        let id = $(this).attr('uniqueId')
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                url:url.superUserManagerDelete,
                type:'post',
                data:{id},
                dataType:'json',
                success:res=>{
                    console.log(res)
                    if(res.status == 1){
                        layer_success(res.info)
                        setTimeout(function() {location.reload()}, 800);
                    }else{
                        layer_shake(res.info)
                    }
                }
            });
    	});
    })
    
    // 用户-编辑 --获取对应管理员信息
    $(document).on('click touchend','#editManager',function(){
        
        // 不能修改admin账号
        if($(this).attr('account')=='admin'){
            layer_shake('非法修改admin账号')
            return false
        }
        
        $('#showManagers').addClass('hui-bounceoutT').hide()
        $('#editManagerFrom').removeClass('hui-bounceoutT').addClass('hui-bounceinB').show()
        
        
        let id = $(this).attr('uniqueId')
        $.ajax({
            url:url.getManagerOne,
            type:'post',
            data:{id},
            dataType:'json',
            success:res=>{
                // console.log(res)
                if(res.status == 1){
                    $('#submitManagerEditFrom').attr('uniqueId',res.data.id)
                    $('#submitManagerEditFrom').attr('oldAccount',res.data.account)
                    $('#name_edit').val(res.data.name)
                    $('#account_edit').val(res.data.account)
                    $('#phone_edit').val(res.data.phone)
                    $('#email_edit').val(res.data.email)
                    
                    
                    if(res.data.sex == 1)
                        $('#sex-1-edit').prop('checked',true)
                    else
                        $('#sex-2-edit').prop('checked',true)
                        
                    // if(res.data.role == 0)
                    //     $('#role-1-edit').prop('checked',true)
                    // else
                    //     $('#role-2-edit').prop('checked',true)
                        
                    $('#role-edit-'+res.data.role).prop('checked',true)
                    
                    if(res.data.sex == 1)
                        $('#sex-1-edit').prop('checked',true)
                    else
                        $('#sex-2-edit').prop('checked',true)
                    
                    if(res.data.status == 1)
                        $('#status_edit').prop('checked',true)
                    else
                        $('#status_edit').prop('checked',false)
                    
                    if(res.data.phone_check == 1)
                        $('#phone_check_edit').prop('checked',true)
                    else
                        $('#phone_check_edit').prop('checked',false)
                }else{
                    layer_noChange(res.info)
                }
            }
        });
        
        
    })
    
    // 取消用户-编辑
    $('#backManagerInfo_edit').on('click',function(){
        location.reload()
    })
    
    // 提交编辑用户信息
    $('#submitManagerEditFrom').click(function(){
        let flag; //判断账号是否改变
        
        let name = $('#name_edit').val().trim()
        let account = $('#account_edit').val().trim()
        
        let phone = $('#phone_edit').val().trim()
        let email = $('#email_edit').val().trim()
        
        let phone_reg = /^1[3|4|5|7|8]\d{9}$/
        let email_reg = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
        
        
        // 与原账号相同就flag = 1 否则 flag = 0
        if($(this).attr('oldAccount')==account){
            flag = 1
        }else{
            flag = 0
        }
        
        if(name.length==0 || account.length ==0 ){
            layer_shake('请检查表单信息是否填写完整')
            return false
        }
        if(phone.length!=0 && !phone_reg.test(phone)){
			layer_shake('请输入正确有效手机号');
			return false;
		}
		if(email.length!=0 && !email_reg.test(email)){
			layer_shake('请输入正确有效邮箱地址');
			return false;
		}
        
        let id = $(this).attr('uniqueId')
        $.ajax({
            url:url.superUserManagerEdit+'?id='+id +'&flag='+flag,
            type:'post',
            data:$('#form-manager-edit').serialize(),
            dataType:'json',
            success:res=>{
                console.log(res)
                if(res.status == 1){
                    layer_success(res.info)
                    setTimeout(function(){ location.reload() }, 800)
                }else{
                    layer_noChange(res.info)
                }
            }
        });
    })
    
    // 启用 禁用管理员
    $(document).on('click','.editManagerStatus',function(){
        let id = $(this).attr('uniqueId')
        let status =  $(this).attr('status')
        status = status == 1 ? 0:1
        $.ajax({
            url:url.superUserManagerStatusEdit,
            type:'post',
            data:{
                id,status
            },
            dataType:'json',
            success:res=>{
                console.log(res)
                if(res.status == 1){
                    layer_success(res.info)
                    setTimeout(function(){ location.reload() }, 800)
                }else{
                    layer_noChange(res.info)
                }
            }
        });
    })
    
    // 重置管理员密码
    $(document).on('click touchend','#modifyManagerPw',function(){
        // 不能修改admin账号
        if($(this).attr('account')=='admin'){
            layer_shake('非法修改admin账号')
            return false
        }
        // 验证管理员密码
        $("#modal-demo1").modal("show")
       
    })
    // 验证登录者密码
    $('#submitManagePw').on('click touchend',function(){
        let pw = $('#managerPw').val().trim()
        if(pw.length == 0){
            layer_shake('密码不能为空！')
            return false
        }
        
         $.ajax({
            url:url.checkManagerPW,
            type:'post',
            data:{pw},
            dataType:'json',
            success:res=>{
                console.log(res)
                if(res.status == 1){
                    // layer_success(res.info)
                    $("#modal-demo1").modal("hide")
                    $('#showManagers').addClass('hui-bounceoutT').hide()
                    $('#modifyManagerPwFrom').removeClass('hui-bounceoutT').addClass('hui-bounceinB').show()
                    
                    $('#submitManagerModifyFrom').attr('uniqueId',$('#modifyManagerPw').attr('uniqueId'))
                }else{
                    layer_noChange(res.info)
                }
            }
        });
        
    })
    
    // 取消修改密码
    $('#backManagerInfo_modify').click(function(){
        location.reload();
    })
    
    // 提交修改后的密码
    $('#submitManagerModifyFrom').click(function(){
        
        let id = $(this).attr('uniqueId');
        let password = $('#password_modify').val().trim();
        let repassword = $('#repassword_modify').val().trim();
        
        if(password.length==0 || repassword.length ==0){
            layer_shake('请检查表单信息是否填写完整')
            return false
        }
        if(password != repassword){
			layer_shake('两次密码不一致');
			return false;
		}
		
        $.ajax({
            url:url.modifyManagerPw,
            type:'post',
            data:{
                id,password
            },
            dataType:'json',
            success:res=>{
                console.log(res)
                if(res.status == 1){
                    layer_success(res.info)
                    setTimeout(function(){ location.reload() }, 800)
                }else{
                    layer_danger(res.info)
                }
            }
        });
    })
    
    
     // 显示手机号验证弹窗
    $(document).on('click','.editPhoneCheck',function(){
        let phone = $(this).attr('phone')
        let id = $(this).attr('uniqueId')
        
        $('#checked_value').text(phone)
        $('#sendCode').attr('phone',phone)
        $('#submitCode').attr('uniqueId',id)
        $("#modal-demo").modal("show")
    })
    
    // 验证码输入框
    $('#codeInput').change(function(){
        if($(this).val().trim().length == 4){
            $('#submitCode').removeClass('disabled')
        }else{
            $('#submitCode').addClass('disabled')
        }
    })
    
    // 60秒内禁止点击发送验证码
	let wait=60;
	function time(o) {
		if (wait == 0) {
			o.removeAttr("disabled");
			o.removeClass('not')
			o.val("发送验证码");
			wait = 60;
		} else {
			o.attr("disabled", true);
			o.addClass('not')
			o.val("重新获取(" + wait + ")");
			wait--;
			setTimeout(function () {
				time(o)
			}, 1000)
		}
	}

    // 获取验证码
    $('#sendCode').click(function(){
        if(!$(this).attr('phone')){
            layer_shake('请先补全手机号码信息')
            return false
        }
        let type = 0
        $.ajax({
			url:"{:url('Index/sendForgetCode')}",
			data:{phone:$(this).attr('phone'),type},
			type:"post",
			dataType:"json",
			success:function(res){
				if(res.status==1){
					layer_success(res.info);
					time($('#sendCode'));
				}else{
					layer_danger(res.info);
				}
			}
		});
    })
    
    // 提交验证码
    $('#submitCode').click(function(){
        let code = $('#codeInput').val()
        let id = $(this).attr('uniqueId')
        let type = 0
        $.ajax({
			url:"{:url('Index/checkCode')}",
			data:{code,id,type},
			type:"post",
			dataType:"json",
			success:function(res){
				if(res.status==1){
					layer_success(res.info);
					setTimeout(function(){ location.reload() },800)
				}else{
					layer_danger(res.info);
				}
			}
		});
        
    })
    
    
    // 搜索功能
    $('.searchManagerUser').click(function(){
        let value = $(this).parent().find('.search').val().trim()
        
        $.ajax({
			url:"{:url('Index/getSearchData')}",
			data:{value},
			type:"post",
			dataType:"json",
			success:function(res){
			    console.log(res)
				if(res.status==1){
					layer_success(res.info);
					
					let html ='';
					let array=[];
					if(!(res.data instanceof Array)){
					    for (var i in res.data) {
                            array.push(res.data[i]); 
                        }
					}else{
					    array = res.data
					}
					array.forEach(i=>{
					    if(i.sex == 0) i.sex ='女'
					    else i.sex = '男'
					    if(i.role == 0) i.role ='普通管理员'
					    else i.role = '超级管理员'
					    if(i.status == 0) {
					        i.status ='禁用'
					        i['status_css'] = 'label-danger'
					    }
					    else {
					        i.status = '启用'
					        i['status_css'] = 'label-success'
					    }
					    if(i.phone_check == 0) {
					        i.phone_check ='未验证'
					        i['phone_css'] = 'label-defaunt'
					    }
					    else {
					        i.phone_check = '已验证'
					        i['phone_css'] = 'label-success'
					    }
                        
                        if(i.phone == '') i.phone='无'	
                         if(i.email == '') i.email='无'	
					})
					let r = res.data
					array.forEach(item =>{
					    html +=`
					        <tr class="text-c">
    							<td><input type="checkbox" value="1" name=""></td>
    							<td>${item.id}</td>
    							<td>${item.name}</td>
    							<td>${item.account}</td>
    							<td>${item.sex}</td>
    							<td>${item.phone}</td>
    							<td>${item.email}</td>
    							<td>${item.role}</td>
    							<td class="enableEdit editPhoneCheck" uniqueId="${item.id}" phone="${item.phone}"><span class="label ${item.phone_css} radius">${item.phone_check}</span></td>
    							<td class="enableEdit editManagerStatus" uniqueId="${item.id}" status="${item.status}"><span class="label ${item.status_css} radius">${item.status}</span></td>
    							<td class="td-manage"> 
        							<a title="编辑" href="javascript:;" id="editManager" uniqueId="${item.id}" class="ml-5" style="text-decoration:none;font-size:20px;"><i class="Hui-iconfont">&#xe6df;</i></a>
        							<a title="修改密码" class="ml-5" id="modifyManagerPw" uniqueId="${item.id}" href="javascript:;" ><i class="Hui-iconfont" style="text-decoration:none;font-size:20px;">&#xe63f;</i></a> 
        							<a title="删除" href="javascript:;" id="deleteManager" uniqueId="${item.id}" class="ml-5" style="text-decoration:none;font-size:20px;"><i class="Hui-iconfont">&#xe6e2;</i></a>
        						</td>
    						</tr>
					    `    
					})
				    $('tbody').html(html)
				    
				}else{
					layer_noChange(res.info);
					$('tbody').html('')
				}
			}
		});
    })
    
    // 获取选中的用户id
    $('tbody').on('change','.checked_delete',function(){
        let id = [];
        $.each($('input:checkbox:checked'),function(){
            id.push($(this).attr('uniqueId'))
        })
        $('#deleteMuch').attr('uniqueIds',id)
    })
    
    // 批量删除
    $('#deleteMuch').click(function(){
        if(!$(this).attr('uniqueIds')){
            layer_noChange('请先选择数据')
            return false
        }
            
        let id = $(this).attr('uniqueIds')
        layer.confirm('确认要批量删除吗？',function(index){
            $.ajax({
    			url:"{:url('Index/deleteMuch')}",
    			data:{id},
    			type:"post",
    			dataType:"json",
    			success:function(res){
    				if(res.status==1){
    					layer_success(res.info);
    					setTimeout(function(){ location.reload() },800)
    				}else{
    					layer_danger(res.info);
    				}
    			}
    		});
        });
    })
    
     // 搜索预设值
     $("#account,#account_edit").typeahead({
        source: function(query, process) {
            if(query.trim().length == 0) return 
            return $.ajax({
                type: "POST",
                url: url.getAccountList,
                data: {
                    value: query
                },
                success: function(result) {
                    // console.log(result);
                    if (result.status == '1') {
                        var array = [];
                        $.each(result.data, function(index, ele) {
                             //键值对保存下来。
                            array.push('已存在的相关账号：'+ele.account);
                        });
                        process(array);
                    } else {
                        var array = ['该账号可用'];
                        process(array);
                    }
                }
            });
        },
        updater: function(item) {
            console.log(item);
            // return item;
        },
        afterSelect: function(item) {
        },
        matcher: function() {
            return true;
        },
        delay: 300
    });
    
});

		
</script>
{/block}