{extend name="public/default" /}

{block name="title"}
<title>选课系统-管理员</title>
</head>
<body>
    
    
<style type="text/css" media="all">
    .title{
        text-align: center;
        color: {$config_color}; 
        font-size: 25px;
        font-weight: 600;
    }
    .dowebok{
        text-align: center;
        margin: 120px auto;
    }
    .flipTimer .digit > div.digit-top, .flipTimer .digit > div.shadow-top {
        background-color: {$config_color};
        border-bottom: 1px solid {$config_color};
    }
    .flipTimer .digit > div.digit-bottom, .flipTimer .digit > div.shadow-bottom {
          background-color: {$config_color};
    }
</style>
{/block}

{block name="content"}
<section class="Hui-article-box">
	<nav class="breadcrumb">
	    <i class="Hui-iconfont switch-icon">&#xe70f;</i> 
	    <i class="Hui-iconfont"></i> <a href="{:url('index/index/index')}" class="maincolor">首页</a> 
		<span class="c-999 en">&gt;</span>
		<span class="c-666">系统管理</span>
		<span class="c-999 en">&gt;</span>
		<span class="c-666">系统公告</span>  
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px;background-color: {$config_color};" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont" >&#xe68f;</i></a></nav>
	<div class="Hui-article" style="display:{$isPower?'':'none'}">
	<article class="cl pd-20 manage hui-bounceinB">
        <div id="showEditer" style="padding:20px;">
    	    <div id="letterEditer">{$content | default=''}</div>
        	<div class="editSubmitBtn" style="margin-top:20px;">
    			<button type="button" class="btn btn-default" id="clear" >清空</button>
    			<button type="button" class="btn  btn-primary" data-id=""  id="submitLetters">发布</button>
    		</div>
    	</div>

    </article>
</div>

<!--无权查看显示-->
	<div class="nopower" style="display:{$isPower?'none':''}">
	    <img  src="__PUBLIC__/img/noPower.jpg" alt="" />
	</div>
</section>
{/block}

{block name="script"}
<!--tinymce富文本-->
{load href="__PUBLIC__/plugins/tinymce/tinymce.min.js" /}
<script type="text/javascript">



// 	获取公告
// 	$.ajax({
//           url:url.getNotice,
//           type:"post",
//           dataType:"json",
//           success:function(res){
//               console.log(res)
//               if(res.status == 1){
//                   $('#letterEditer').html(res.data.content)
//                     // layer_success(res.info)
//                 }else{
//                     layer_danger(res.info)
//                 }
//           },
//           error:err=>{
//               console.log(err)
//           }
//       });

$(function(){
    
    // 富文本插件
    tinymce.init({
	    selector: '#letterEditer', //容器，可使用css选择器
	    language:'zh_CN', //调用放在langs文件夹内的语言包
	    toolbar: true, //工具栏
	    menubar: true, //菜单栏
	    branding:false, //右下角技术支持
	    inline: false, //开启内联模式
	    elementpath: false,
	    min_height:400, //最小高度
	    height: 800,  //高度
	    skin: 'oxide',
	    toolbar_sticky:true,
	    visualchars_default_state:false, //显示不可见字符
	    image_caption: true,
	    paste_data_images: true,
	    relative_urls : false,
	   // remove_script_host : false,
	    removed_menuitems: 'newdocument',  //清除“文件”菜单
	    plugins: "lists,hr, advlist,anchor,autolink,autoresize,charmap,code,codesample,fullscreen,image,media,insertdatetime,link,pagebreak,paste,preview,print,searchreplace,table,textcolor,toc,visualchars,wordcount", //依赖lists插件
	    toolbar: 'bullist numlist charmap fullscreen hr image insertdatetime link media pagebreak paste preview print searchreplace textcolor wordcount',
	    //选中时出现的快捷工具，与插件有依赖关系 
	    images_upload_url:'a.php', /*后图片上传接口*/ /*返回值为json类型 {'location':'uploads/jpg'}*/
 	    setup: function(editor){ 
	   		 editor.on('change',function(){ editor.save(); });
		}

	});
	
	
	//  保存公告
    $('#submitLetters').on('click touchend',function(){
        // console.log(tinyMCE.activeEditor.getContent())
        $.ajax({
          url:url.saveNotice,
          data:{
             content:tinyMCE.activeEditor.getContent()
          },
          type:"post",
          dataType:"json",
          success:function(res){
                if(res.status == 1){
                    layer_success(res.info)
                }else{
                    layer_danger(res.info)
                }
          },
          error:err=>{
              console.log(err)
          }
      });
    })
    
    //  清空公告
    $('#clear').on('click touchend',function(){
        // console.log(tinyMCE.activeEditor.getContent())
        $.ajax({
          url:url.clearNotice,
          type:"post",
          dataType:"json",
          success:function(res){
                if(res.status == 1){
                    $('#letterEditer').html('')
                    location.reload()
                    layer_success(res.info)
                }else{
                    layer_danger(res.info)
                }
          },
          error:err=>{
              console.log(err)
          }
      });
    })
            	
            	
            	
            	
    
});
		
</script>
{/block}